<h1>TaskID : <%= @task.id %>&nbsp;の編集ページ</h1>

<%= form_for(@task) do |f| %>
<%= f.text_field :content %>
<%= f.select :status, [['not yet', 'not_yet'], ['yet', 'yet']] %>
<%= f.submit '変更' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>